.spell{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}
#slytherin{
  background-color: green;
}
#gryffindor{
  background-color: red;
}
#hufflepuff{
  background-color: yellow;
}
#ravenclaw{
  background-color: rgb(96, 96, 199);
}
