.spell{
  border-radius: 50%;
}
#spellslytherin{
  background-color: green;
}
#spellgryffindor{
  background-color: red;
}
#spellhufflepuff{
  background-color: yellow;
}
#spellravenclaw{
  background-color: rgb(96, 96, 199);
}
